<div class="container" layout="row" layout-align="center center">
  <mat-card>
    <form class="login-form" novalidate #loginForm="ngForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Email" type="email" [(ngModel)]="model.email" name="email" required #email="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Senha" type="password" [(ngModel)]="model.senha" name="senha" required #senha="ngModel">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div>
