<button (click)="logout()">Logout</button>
<mat-card layout="column">
  <mat-progress-bar mode="indeterminate" *ngIf="model.loading"></mat-progress-bar>
  <div layout="column">
    <mat-form-field>
      <input matInput placeholder="ID" type="text" [(ngModel)]="model.userId">
    </mat-form-field>
    <button mat-raised-button (click)="findUser()">Buscar</button>
  </div>
  <div layout="column">
    <p>
      <strong>Nome:</strong>
      {{ model.usuario?.nome }}
    </p>
  </div>
  <button mat-raised-button (click)="listUsers()">Listar</button>
  <div layout="column" *ngIf="model.page?.content">
    <p *ngFor="let usuario of model.page.content">
      <strong>{{usuario.nome}}</strong>
    </p>
  </div>
</mat-card>
